# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment
env/
venv/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Editor backup files
*~
*.bak
*.swp

# IDE and editor-specific files
.vscode/
.idea/

# Environment variable files
*.env
*.env.*

# Log files
*.log

# Python distribution files
dist/
build/
*.egg-info

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Other temporary files
*.orig


